.abt{
    width: 20vw;
    margin: 20px;
}

.aboutUs h1{
    font-size: 120px;
}

.page{
    width: 45vw;
}

.page p{
    font-size: 40px;
}

.aboutUs{
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}