.font{
    font-family: "Amatic SC";
    font-weight: 900;
}

.center-ae{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.blackReel{
    width: 600px;
    height: 93vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
}

.whiteSpot{
    width: 20px;
    height: 4.55vh;
    background-color: #faf4e8;
    margin: 15px;
    border-radius: 2px;
}

.formArea{
    width: 70%;
}

.formHeading{
    font-family: "Amatic SC";
    font-weight: 900;
    font-size:75px;
    color: #faf4e8;
    margin-bottom: 2vh; 
    text-align: center;  
    text-overflow: hidden;
    width: 100%;
}

.formPart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 12px 0px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label{
    font-size: 40px;
    font-weight: 900;
}

.formPart input{
    height: 45px;
    width: 370px;
    background-color: #faf4e8;
    color: black;
    padding: 0px 10px;
    font-size: 30px;
}

.formArea button{
    color: hwb(40 91% 2%);
    background-color: black;
    width: 40%;
    height: 70px;
    margin: 20px;
    font-size: 35px;
    border: 3px solid #faf4e8;
    border-radius: 5px;
    margin-top: 40px;
    transition: background-color 0.5s, color 0.5s;
}

button:hover{
    cursor: pointer;
}

.formArea button:hover{
    background-color: #faf4e8;
    color: black;
}

@media(max-width: 700px){
    .blackReel{
        width: 80vw;
    }
    .formHeading{
        font-size: 55px;
    }
    label{
        font-size: 30px;
    }
    .formPart input{
        width: 50vw;
    }
}

@media(max-width:550px){
    .blackReel{
        width: 94%;
    }
    .formHeading{
        font-size:45px ;
    }
    .label{
        font-size: 25px;
    }
    .formArea button{
        height: 100px;
    }
    .formPart input{
        width: 55vw;
    }
    .formPart{
        margin: 25px;
    }
}
